* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

#root {
  display: flex;
  justify-content: space-between;
}

.App{
  width: 800px;
}

.card{
  display: flex;
  padding: 15px;
  border: 1px solid brown;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 200px;
  margin: 5px;
}

.cardInput {
  width: '400px';
  height: '50px';
}

.cardInput2 {
  width: '400px';
  height: '50px';
}
